/* <!-----------BASE------------>*/
:root {
  --accent-color: #404bbf;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
/*============= Reset start ===========*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
  padding: 0;
}
input {
  font-family: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  min-width: 0.1px;
}
.address {
  font-style: normal;
}
img {
  display: block;
}

/*============= Reset end ===========*/

.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.visualli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* <!-----------HEDER------------> */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;

  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-logo-link {
  display: flex;
  padding: 25.5px 0 25.5px;
  margin-right: 76px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-nav-logo-accent {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.header-nav-item {
}
.header-nav-link {
  position: relative;
  display: block;
  padding: 24px 0 24px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.current {
  color: #404bbf;
}
.header-nav-link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}
.header-nav-link:hover {
  color: #404bbf;
  transition-property: all;
}
.header-nav-link:focus {
  color: #404bbf;
}
.address {
  display: flex;
  align-items: center;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
}
.address-link {
  padding: 24px 0 24px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:active {
  color: #404bbf;
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}

/* <!-----------Section footer------------>*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.container-footer-logo {
  width: 264px;
  margin-right: 120px;
}
.footer-logo-link {
  display: block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-link-accent {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-finish {
  display: flex;
  color: #f4f4fd;
  line-height: 1.5;
}
.container {
}
.container-footer-socials {
}
.footer-title {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-item {
  width: 40px;
  height: 40px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}
/* <!----------- footer Form ------------>*/
.form-div {
  margin-left: 80px;
}
.form {
  display: flex;
}
.form-p {
  margin-bottom: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
}
.form-input {
  margin-right: 24px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2e2f42;
  background-color: transparent;
}
placeholder {
  color: #fff;
}
.button-form {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  height: 40px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  min-width: 165px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.footer-icon-form {
  fill: #fff;
  margin-left: 16px;
}
/* <!-----------Section Modal open------------> */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
  display: flex;
  justify-content: center;
  text-align: center;

  margin-bottom: 16px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
}
.modal-form {
}

.frame {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.frame-div {
  margin-bottom: 16px;
}
.modal-form-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input-icon {
  display: flex;
  position: relative;
}
.modal-form-input {
  padding-left: 38px;
  width: 360px;
  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-form-input-comment {
  margin-top: 4px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);

  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  height: 120px;
  resize: none;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  display: block;

  margin-bottom: 24px;
}
.checkbox-input {
}
.modal-form-label-checkbox {
  display: block;
  justify-self: start;
  align-items: center;
}
.checkbox-custom {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.checkbox-input:checked + .modal-form-label-checkbox > .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.link-input {
  margin-left: 2px;
  color: #4d5ae5;
  text-decoration: underline;
}
.modal-icon-checkbox {
}

.button-form-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 0px auto;
  border-radius: 4px;
  border: none;
  color: #fff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form-btn:hover,
.button-form-btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* <!-----------Section hero------------> */

.hero {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgraund/people-office.jpg);

  background-color: #2e2f42;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 188px;
  padding-bottom: 188px;
}
.container-hero {
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  display: block;
  padding: 16px 32px;
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  font-size: 16px;
  background: #4d5ae5;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background: var(--accent-color);
}

/* <!-----------Section description------------> */

.section {
  padding: 120px 0;
}

.description {
}
.description-list {
  display: flex;
  gap: 24px;
}
.description-item {
  width: 264px;
}
.description-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: #f4f4fd;
}
.description-icon {
}

.description-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.description-p {
  line-height: 1.5;
}

/* <!-----------Section about------------> */
.about {
}
.about-title {
  width: 324px;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.about-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}
.about-item {
  width: 360px;
  border: 1px solid #e7e9fc;
}
.about-img {
}

/* <!-----------Section card------------> */
.card {
  background: #f4f4fd;
}
.card-title {
  width: 163px;
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}
.card-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  justify-content: center;
}
.card-img {
}

.card-div {
  content: 56px 232px;
  padding: 32px 0px;
  margin: 0px 16px;
}

.card-hero {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.card-hero-profesion {
  text-align: center;
  line-height: 1.5;
}

/*============= Card Socials ===========*/

.card-list-icon {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-top: 8px;
}

.card-item-icon {
  width: 40px;
  height: 40px;
}

.card-link-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link-icon:hover,
.card-link-icon:focus {
  background-color: #404bbf;
}

.card-icon-svg {
  fill: #f4f4fd;
}

/*============= Section cliets ===========*/

.clients {
}
.container {
}
.clients-title {
  width: 183px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.clients-list {
  display: flex;
  gap: 24px;
}

.clients-item {
  width: 168px;
  height: 88px;
}
.clients-link {
  width: 100%;
  height: 100%;
  color: #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid #8e8f99;
}

.clients-link:hover,
.clients-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.clients-icon {
  fill: currentColor;
}

/*============= PORTFOLIO ===========*/

/*============= PORTFOLIO ===========*/

/*============= SECTION hero ===========*/

.button-hero {
  padding-top: 96px;
  padding-bottom: 120px;
}
.container-button {
}

.button-hero-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.button-hero-item {
}

.button-hero-item-button {
  padding: 12px 24px;

  border: 1px solid #e7e9fc;
  color: #4d5ae5;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero-item-button:hover,
.button-hero-item-button:focus {
  color: #fff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*============= SECTION card ===========*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.list {
}
.portfolio-item {
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hidden {
  position: relative;
  overflow: hidden;
}

.hidden-p {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  line-height: 1.5;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden:hover .hidden-p,
.hidden:focus .hidden-p {
  transform: translateY(0%);
}

.portfolio-img {
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-link-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-link-p {
  line-height: 1.5;
}

/*============= SECTION PORTFOLIO ===========*/
